/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-gallery__outer-wrap {

	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	.uagb-gallery__img-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		-webkit-transition: background-color 150ms linear;
		transition: background-color 150ms linear;
	}

	.uagb-gallery__content {
		position: relative;
	}

	.uagb-gallery__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px;
		background: rgba(0,0,0,0.4);
		text-align: center;
		display: none;
		pointer-events: none;
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
		text-align: center;
	}

	p.uagb-gallery__caption-text {
		padding: 0;
		margin: 0;
		color: #ffffff;
		margin-bottom: 0px;
	}

	.uagb-gallery__thumnail img {
		width: 100%;
	}

	.uagb-gallery__thumnail {
		overflow: hidden;
	}
}

.uagb-gallery__caption-show-image {
	.uagb-gallery__caption {
		display: block;
		pointer-events: auto;
		margin: 0;
	}
}

.uagb-gallery__caption-show-hover {
	.uagb-gallery__item:hover .uagb-gallery__caption {
		display: block;
		pointer-events: auto;
		margin: 0;
	}
}

.uagb-gallery__caption-align-left {
	.uagb-gallery__caption {
		text-align: left;
	}
}

.uagb-gallery__caption-align-right {
	.uagb-gallery__caption {
		text-align: right;
	}
}

.uagb-gallery__caption-align-center {
	.uagb-gallery__caption {
		text-align: center;
	}
}

.uagb-gallery__caption-valign-top {
	.uagb-gallery__caption {
		top: 0;
		bottom: auto;
	}
}

.uagb-gallery__caption-valign-bottom {
	.uagb-gallery__caption {
		bottom: 0;
		top: auto;
	}
}

.uagb-gallery__caption-valign-middle {
	.uagb-gallery__caption {
		top: 50%;
		transform: translateY(-50%);
		bottom: auto;
	}
}

.uagb-gallery__columns-8 .uagb-gallery__item { width: 12.5%; }
.uagb-gallery__columns-7 .uagb-gallery__item { width: 14.28%; }
.uagb-gallery__columns-6 .uagb-gallery__item { width: 16.66%; }
.uagb-gallery__columns-5 .uagb-gallery__item { width: 20%; }
.uagb-gallery__columns-4 .uagb-gallery__item { width: 25%; }
.uagb-gallery__columns-3 .uagb-gallery__item { width: 33.2%; }
.uagb-gallery__columns-2 .uagb-gallery__item { width: 50%; }
.uagb-gallery__columns-1 .uagb-gallery__item { width: 100%; }
